body {
    background-color: #92B4EC;
}        

hr {
    border-style: dotted none none;
    border-color: white;
    border-width: 7px;
    width: 5%;
}

img {
    height: 200px;
}

h1 {
    color: darkblue;
}

h3 {
    color: darkblue;
}